* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fafaf5;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

#root {
  height: 100%;
}

@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
